@charset="UTF-8";
body{margin:0;}
#div1{
	width: 50%;
	height:200px;
	background: green;
	padding-top: 10px;
	border-style: dotted;
	border-width: 10px;
	border-color: red;
	margin:0;
	}
#div2{
	width: auto;
	height: 200px;
	background: rgb(255,0,0);
	max-width: 40%;
	margin-top: 20px;
	margin:20px;
	}
#div3{
	width: 60%;
	height: 200px;
	margin: 20px;
	background: yellow;
	}
#p1{
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding:50px;
	padding:10px 10px 10px 10px;
	}