@charset="UTF-8";
*{
	margin: 0;
	padding: 0;
}
body{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
header{
	width: 960px;
	height: 150px;
	background: rgba(0,0,0,0.5);
	/*position: absolute;*/
	left:0;
	top:0 ;
}
aside{
	width: 200px;
	height: 500px;
	background: rgba(0,200,200,0.5);
	/*position: absolute;*/
	left: 0;
	top: 150px;

}
section{
	width: 760px;
	height: 500px;
	background: rgba(200,0,200,0.5);
	position: absolute;
	left: 200px;
	top: 150px;
}
footer{
	width: 960px;
	height: 120px;
	background: rgba(150,150,150,0.5);
	/*position: absolute;*/
	left: 0px;
	top: 650px;
}