@charset="UTF-8";
#div1{
	background: rgba(100,150,255,0.5);
	width: 30%;
	height: 200px;
	float: left;
}
#div2{
	background: rgba(255,100,150,0.5);
	width: 30%;
	height: 200px;
	float: left;
}
#div3{
	background: rgba(200,150,255,0.5);
	width: 30%;
	height: 200px;
	float: left;
}

#div4{
	background: rgba(100,150,255,0.5);
	width: 30%;
	height: 200px;
	float: right;
}
#div5{
	background: rgba(255,100,150,0.5);
	width: 30%;
	height: 200px;
	float: right;
}
#div6{
	background: rgba(200,150,255,0.5);
	width: 30%;
	height: 200px;
	float: right;
	clear: right;
}

